.Rproj.user
PTAX.Rproj
.DS_store
.gitignore
.Rhistory
.RData
.Ruserdata
*.docx
*.pdf
*.html
*.pptx
*ptaxsim.db/
*Old Files/
*Municipality/
*.png
*.eps
*_files
Rplots.pdf
muni_shp.json
ptaxsim.db
docs
.quarto
Cook_flood_zones.Rmd
datarequests_Class8Munis.R
rsconnect
epilogue_Figure3.pub
quarto_doc_output/*
quarto_docs_output
!ptax_file_inventory.xlsx
/.quarto/
Output/Dont_Upload/
Output/old_files/
!Output/keypins_from_methodwkshts.csv
!inputs/amazonPINs.xlsx
!inputs
quarto_supportfiles
_publish.yml
Circulated Materials
~$ptax_file_inventory.xlsx
# 1. Ignore all contents inside the folder
old_versions/*
# 2. Allow the folder itself (so Git looks inside it)
!old_versions/
# 3. Do not ignore your specific file type (e.g., .json files)
!old_versions/*.qmd
!old_versions/*.r
docs.zip
archived_docs
