.Rproj.user
.Rhistory
.RData
.Ruserdata
*.docx
*.pdf
*.html
*.pptx
*.xlsx
*ptaxsim.db/
*Michael Code/
*Old Files/
*Municipality/
*.png
*.eps
*_files
!Output/*.csv
Rplots.pdf
muni_shp.json
ptaxsim.db
docs
.quarto
Cook_flood_zones.Rmd
datarequests_Class8Munis.R
ptax_pull_loop_2021only.R
rsconnect
epilogue_Figure3.pub
quarto_doc_output/*
quarto_docs_output
!images/*
!inputs/methodologyreports/*
!inputs/methodologyreports/north_2022/*
!inputs/methodologyreports/south_2023/*
!inputs/methodologyreports/chicago_2021/*

