.Rproj.user
PTAX.Rproj
.DS_store
.gitignore
.Rhistory
.RData
.Ruserdata
*.docx
*.pdf
*.html
*.pptx
*ptaxsim.db/
*Old Files/
*Municipality/
*.png
*.eps
*_files
Rplots.pdf
muni_shp.json
ptaxsim.db
docs
.quarto
Cook_flood_zones.Rmd
datarequests_Class8Munis.R
rsconnect
epilogue_Figure3.pub
quarto_doc_output/*
quarto_docs_output
!ptax_file_inventory.xlsx
/.quarto/
Output/Dont_Upload/
Output/old_files/
old_versions/
!Output/keypins_from_methodwkshts.csv
!inputs/amazonPINs.xlsx
!inputs
quarto_supportfiles
_publish.yml
Circulated Materials
~$ptax_file_inventory.xlsx
