/.quarto/
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.docx
*.pdf
*.pptx
*.xlsx
*ptaxsim.db/
*Michael Code/
*Old Files/
*Municipality/
*.png
*.eps
*.csv
!class_dict_expanded.csv
!Necessary_Files/*.csv
Residential_Burden_Shift_filteredMunis_files
Rplots.pdf
ptaxsim-2023*
assessor_neighborhoods_files
muni_shp.json
ptaxsim.db
docs
.quarto
Cook_flood_zones.Rmd
datarequests_breakeven-points_files
datarequests_Class8Munis.R
rsconnect
incentive_report_template.rmarkdown
_freeze
addendum-images
archive
