/.quarto/
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.docx
*.pdf
*.pptx
*.xlsx
*ptaxsim.db/
*Michael Code/
*Old Files/
*Municipality/
*.png
*.eps
*.csv
!class_dict_expanded.csv
!Necessary_Files/*.csv
Residential_Burden_Shift_filteredMunis_files
Rplots.pdf
ptaxsim-2021.0.0db
assessor_neighborhoods_files
muni_shp.json
4C_Taxbill_Hypotheticals_GenHomesteadOnlyRemoved.Rmd
ptaxsim.db
docs
.quarto
Cook_flood_zones.Rmd
datarequests_breakeven-points_files
datarequests_Class8Munis.R
ptax_pull_loop_2021only.R
5c_milliondollarhomes_WRONG.Rmd
10_Incentives_CookCounty.Rmd
7B-v2_C8townships_byTC.qmd
7C_Township_Incentives.qmd
rsconnect
ptaxsim-2021.0.4.db